{% extends 'dashboard/student/base.html' %}
{% load static %}

{% block page %}
My Mentors
{% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/dashboard/my_mentors.css' %}">
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="courses">
        <h1 class="course-heading">My Mentors</h1>
        <div class="my">

            {% for mentor in mentors %}

            <div class="course-card">
                <div class="my-course">
                    <img src="{{ mentor.profile_pic.url }}" alt="">


                    <a href="{% url 'request_meeting' %}" style="text-decoration: none;">
                    <button class="course-btn" id="view_btn">Interact</button>
                </a>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
