{% extends 'dashboard/student/base.html' %}
{% load static %}

{% block page %}
My Profile
{% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/dashboard/my_profile.css' %}">
{% endblock %}

{% block mystyle %}
<style>
    /* Profile image styles */
    .profile-image {
        width: 18%;
        height: 100%;
        border-radius: 50%;
        border: 4px solid #fff;
        background-image: url('{{ student.profile_pic.url }}');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 50%;
        bottom: 30%;
        transform: translate(-50%, 80%);
    }
</style>

{% endblock %}

{% block main %}

<div class="main-container">
    <div class="edit" id="edit">
        <div class="my_profile_main">
            <div class="profile_div">
                <img id="previewImage" src="{{ student.profile_pic.url }}" alt="Profile Image">
            </div>
            <div id="photo">
                <button onclick="uploadImage()" id="pro-btn">Update Profile Picture</button>
                <input type="file" id="imageUpload" accept="image/*" style="display: none;">
            </div>
        </div>
        <hr id="profile-divider">
        <div class="form-container-edit">
            <form class="details", method="post">

                {% csrf_token %}

                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="first_name" value="{{ student.first_name }}"><br>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="last_name" value="{{ student.last_name }}"><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ student.email }}"><br>

                <label for="mobileNo">Mobile No:</label>
                <input type="tel" id="mobileNo" name="mobile_number" value="{{ student.mobile_number }}"><br>

                <label for="age">Age:</label>
                <input type="number" id="age" name="age" value="{{ student.age }}"><br>

                <label for="gender">Gender:</label>
                <select id="gender" name="gender">
                    <option value="" disabled selected>Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select><br>

                <label for="highschoolMarks">Highschool Marks:</label>
                <input type="text" id="highschoolMarks" name="highschool_score"
                    value="{{ student.highschool_score }}"><br>

                <label for="intermediateMarks">Intermediate Marks:</label>
                <input type="text" id="intermediateMarks" name="intermediate_score"
                    value="{{ student.intermediate_score }}"><br>
                    
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="non-edit" id="non-edit">
        <div class="profile-container">
            <div class="banner-container">
                <div class="banner-image"></div>
            </div>
            <div class="profile-image"></div>
        </div>

        <h2>{{ student.first_name }} {{ student.last_name }}
            <button id="pro-edit-btn" onclick="edit()">Edit Porfile</button>
        </h2>
        <div class="response-box">
            <div class="profile-details">
                <p class="response-box-inner"><strong>Email:</strong> {{ student.email }}</p>
                <p class="response-box-inner"><strong>Age:</strong> {{ student.age }}</p>
                <p class="response-box-inner"><strong>Phone:</strong> {{ student.mobile_number }}</p>
                <p class="response-box-inner"><strong>Gender:</strong> {{ student.gender }}</p>
                <p class="response-box-inner"><strong>Highschool Marks:</strong> {{ student.highschool_score }}</p>
                <p class="response-box-inner"><strong>Intermediate Marks:</strong> {{ student.intermediate_score }}</p>
                <p class="response-box-inner"><strong>Field Type:</strong> {{ student.field_type }}</p>
                <p class="response-box-inner"><strong>Field of Interest:</strong> {{ student.field_of_interest }}</p>


            </div>
        </div>


        {% block myscript %}

        <script>
            var aside = document.getElementById("aside");
            var search_bar = document.getElementById("search-bar");
            var search_icon = document.getElementById("search-icon");
            var search_go = document.getElementById("search-go");

            function show_search() {
                search_bar.style.display = "block";
                search_icon.style.display = "none";
                search_go.style.display = "block";
            }

            function uploadImage() {
                var input = document.getElementById('imageUpload');
                var previewImage = document.getElementById('previewImage');

                input.click(); // Trigger the file input click event
                input.onchange = function () {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            previewImage.src = e.target.result;
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                };
            }

            var Edit = document.getElementById("edit");
            var nonEdit = document.getElementById("non-edit");

            function edit() {
                nonEdit.style.display = "none";
                Edit.style.display = "block";
            }
            
        </script>

        {% endblock myscript %}

        {% endblock %}