{% extends 'home/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block main %}

<!------------------------------------------------------------------Main----------------------------------------------- -->
<div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container">
      <p class="text-blk heading-text">Meet Team <strong> Black Order </strong> </p>
      <p class="text-blk sub-heading-text">
        On The Way To Change The World!
      </p>
    </div>
    <div class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container">
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
        <div class="card">
          <img class="card-img" src="{% static 'img/team/chetan.jpg' %}" />
          <p class="text-blk name">Chetan Sharma</p>
          <p class="text-blk position">Front-End Developer</p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
        <div class="card">
          <img class="card-img" src="{% static 'img/team/chirag.jpg' %}" />
          <p class="text-blk name">Chirag</p>
          <p class="text-blk position">Front-End Developer</p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
        <div class="card">
          <img class="card-img" src="{% static 'img/team/dk.jpg' %}" />
          <p class="text-blk name">Divyanshu Khandelwal</p>
          <p class="text-blk position">Back-End Developer</p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
        <div class="card">
          <img class="card-img" src="{% static 'img/team/amogh.jpg' %}" />
          <p class="text-blk name">Amogh Malviya</p>
          <p class="text-blk position">ML Operator / Android Developer</p>
        </div>
      </div>
      <!-- <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
        <div class="card">
          <img class="card-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ft13.svg" />
          <p class="text-blk name">Gustavo Workman</p>
          <p class="text-blk position">CEO</p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
        <div class="card">
          <img class="card-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ft14.svg" />
          <p class="text-blk name">Gustavo Workman</p>
          <p class="text-blk position">CEO</p>
        </div>
      </div> -->
    </div>
  </div>
</div>

{% endblock %}
