{% extends "home/base.html" %}
{% load static %}

{% block title %}WarriorForgers{% endblock %}


{% block main %}


<div class="home">
  <div class="container1">
    <div class="carousel-container">
      <div class="carousel-image-wrapper">
        <img class="carousel-image" src="{% static 'img/home/carousel/1.JPG' %}" alt="Image 1">
        <img class="carousel-image" src="{% static 'img/home/carousel/2.JPG' %}" alt="Image 2">
        <img class="carousel-image" src="{% static 'img/home/carousel/3.JPG' %}" alt="Image 3">
        <!-- <img class="carousel-image" src="{% static 'img/home/carousel/4.jpg' %}" alt="Image 4"> -->
        <!-- <img class="carousel-image" src="{% static 'img/home/carousel/5.jpg' %}" alt="Image 4"> -->
      </div>
    </div>
  </div>

  <div class="main-container light-mode" id="main-container">
    <div class="main1 light-mode" id="course-box">
      <h1>Top Courses</h1>
      <div class="image-corsal" onclick="">
        <div class="container" id="courses">
          <div class="card" onclick="large('card_div')"><img
              src="{% static 'img/home/courses/1.jpeg' %}">
          </div>
          <div class="card" onclick="large('card_div')"><img
              src="{% static 'img/home/courses/2.jpeg' %}"
              alt=""></div>
          <div class="card" onclick="large('card_div')"><img
              src="https://pbs.twimg.com/media/BvGkz8WCMAAG_gO.jpg"
              alt=""></div>
          <div class="card" onclick="large('card_div')"><img
              src="https://w0.peakpx.com/wallpaper/140/12/HD-wallpaper-soldier-firing-army-us-army-thumbnail.jpg"
              alt=""></div>
          <div class="card" onclick="large('card_div')"><img
              src="https://w0.peakpx.com/wallpaper/322/450/HD-wallpaper-best-indian-army-on-bike-flag-hoisting-best-indian-army-bike-flag-hoisting.jpg"
              alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div id="card_div">
    <i class="fa-sharp fa-solid fa-circle-xmark"
      onclick="document.getElementById('card_div').style.display='none';"></i>
    <!-- <div id="card1"><img
      src="https://images.unsplash.com/photo-1669255184533-357323cc603d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
    </div> -->
  </div>
</div>


<div class="mentors" id="ment">
  <h2>Our Top Mentors</h2>
  <div class="mentors_info">
    <ul class="mentor_cards">

      {% for mentor in mentors %}

      <li>
        <a href="" class="mentor_card">
          <img src="{{ mentor.profile_pic.url }}" class="mentor_card__image" alt="" />
          <div class="mentor_card__overlay">
            <div class="mentor_card__header">
              <svg class="mentor_card__arc" xmlns="http://www.w3.org/2000/svg">
                <path /></svg>
              <div class="mentor_card__header-text">
                <h3 class="mentor_card__title">{{ mentor.first_name }} {{ mentor.last_name }}</h3>
              </div>
            </div>
            <p class="mentor_card__description">{{ mentor.bio }}</p>
          </div>
        </a>
      </li>

      {% endfor %}

    </ul>
  </div>
</div>



<div class="our-services light-mode" id="our-services">
  <h2>Our Services</h2>
  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Air Force
          </div>

          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link a1">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Navy
          </div>

          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Army
          </div>

          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">

          </div>

          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link a1">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Motion Design
          </div>

          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              30.11.2022
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Front-end development&#160;+ jQuery&#160;+ CMS
          </div>
        </a>
      </div>

    </div>
  </div>
</div>


{% endblock %}