{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/mentor.css' %}">
  <link rel="stylesheet" href="{% static 'css/home/services.css' %}">
  <link rel="icon" href="{% static 'img/home/favicon.png' %}" type="image/x-icon">
  <!------------------------------------------------------------------Google Fonts----------------------------------------------- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'>
  <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>WarriorForgers</title>
</head>

<body id="body" class="light-mode">
  <!------------------------------------------------------------------HEADER----------------------------------------------- -->

  <header>
    <div class="logo">
      <a href="index.html"><img src="{% static 'img/home/logo.png' %}" alt="logo"></a>
    </div>
    <!-- --------------------Light/Dark Mode------------------------------------- -->
    <nav class="navbar light-mode" id="navbar">
      <label class="toggle-switch">
        <input type="checkbox" onchange="toggleMode()">
        <span class="toggle-slider"><img src="{% static 'img/home/light.png' %}" class="light"><img src="{% static 'img/home/dark.png' %}" class="dark"></span>
      </label>
      <!-- -------------------------Light/dark mode end-------------------------------------- -->


      <div class="nav-container">
        <!-- <a href="Register Form/index.html" class="active">Sign Up</a>
        <a href="Login Form/index.html">Login</a> -->
        <img src="{% static 'img/home/profille.webp' %}" alt="Profile" class="profile" onclick="profile_drop()">
        <a href="pages/about.html" class="nav_about">About US</a>
        <!-- <a href="#">Contact</a> -->
        <a href="#ment">Mentors</a>
        <a href="#main-container">Courses</a>
        <a href="#">Home</a>
      </div>
    </nav>
  </header>


  <!-- -------------------------------------Profile Dropdown---------------------------------------------- -->

<div id="profile_dropdown" class="profile_dropdown light-mode">
  <div class="login_register">
      <div class="profile_dropdown_item">
        <a href="Register Form/index.html" class="sign-up">Sign Up</a>
      </div>
      <div class="profile_dropdown_item">
        <a href="Login Form/index.html" class="sign-in">Login</a>
      </div>
  </div>
  <!-- <div class="user_profile">
    <div class="profile_dropdown_item">
      <img src="images/profille.webp" alt="Profile" class="user_profile_img">
      <a href="#" class="dashboard">Your Dashboard</a>
    </div>
    <div class="profile_dropdown_item">
      <a href="#" class="logout">Logout</a>
    </div>
  </div> -->
</div>

  <!------------------------------------------------------------------Main----------------------------------------------- -->

  <main>

    <div class="home">
      <div class="container1">
        <div class="carousel-container">
          <div class="carousel-image-wrapper">
            <img class="carousel-image" src="{% static 'img/home/image1.jpg' %}" alt="Image 1">
            <img class="carousel-image" src="{% static 'img/home/image2.jpg' %}" alt="Image 2">
            <img class="carousel-image" src="{% static 'img/home/image3.jpg' %}" alt="Image 3">
            <img class="carousel-image" src="{% static 'img/home/image4.jpg' %}" alt="Image 4">
          </div>
        </div>
      </div>

      <div class="main-container light-mode" id="main-container">
        <div class="main1 light-mode" id="course-box">
          <h1>Top Courses</h1>
          <div class="image-corsal" onclick="">
            <div class="container" id="courses">
              <div class="card" onclick="large('card_div')"><img
                  src="https://images.unsplash.com/photo-1669255184533-357323cc603d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
              </div>
              <div class="card" onclick="large('card_div')"><img
                  src="https://images.unsplash.com/photo-1669255182398-7fa6859697e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                  alt=""></div>
              <div class="card" onclick="large('card_div')"><img
                  src="https://images.unsplash.com/photo-1636093748403-1f93591807a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fG1pbmltYWwlMjBpbWFnZXN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                  alt=""></div>
              <div class="card" onclick="large('card_div')"><img
                  src="https://images.unsplash.com/photo-1643310037257-9e2beb8fe43b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                  alt=""></div>
              <div class="card" onclick="large('card_div')"><img
                  src="https://images.unsplash.com/photo-1641534386141-d39f78c959f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                  alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div id="card_div">
        <i class="fa-sharp fa-solid fa-circle-xmark"
          onclick="document.getElementById('card_div').style.display='none';"></i>
        <!-- <div id="card1"><img
          src="https://images.unsplash.com/photo-1669255184533-357323cc603d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        </div> -->
      </div>
    </div>


    <div class="mentors" id="ment">
      <h2>Our Top Mentors</h2>
      <div class="mentors_info">
        <ul class="mentor_cards">

          {% for mentor in mentors %}

          <li>
            <a href="" class="mentor_card">
              <img src="{{ mentor.profile_pic.url }}" class="mentor_card__image" alt="" />
              <div class="mentor_card__overlay">
                <div class="mentor_card__header">
                  <svg class="mentor_card__arc" xmlns="http://www.w3.org/2000/svg">
                    <path /></svg>
                  <div class="mentor_card__header-text">
                    <h3 class="mentor_card__title">{{ mentor.first_name }} {{ mentor.last_name }}</h3>
                  </div>
                </div>
                <p class="mentor_card__description">{{ mentor.bio }}</p>
              </div>
            </a>
          </li>

          {% endfor %}

        </ul>
      </div>
    </div>



    <div class="our-services light-mode" id="our-services">
      <h2>Our Services</h2>
      <div class="ag-format-container">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>

              <div class="ag-courses-item_title">
                Air Force
              </div>

              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link a1">
              <div class="ag-courses-item_bg"></div>

              <div class="ag-courses-item_title">
                Navy
              </div>

              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>

              <div class="ag-courses-item_title">
                Army
              </div>

              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>

              <div class="ag-courses-item_title">

              </div>

              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.11.2022
                </span>
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link a1">
              <div class="ag-courses-item_bg"></div>

              <div class="ag-courses-item_title">
                Motion Design
              </div>

              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  30.11.2022
                </span>
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>

              <div class="ag-courses-item_title">
                Front-end development&#160;+ jQuery&#160;+ CMS
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>


  </main>

  <!------------------------------------------------------------------Footer----------------------------------------------- -->

  <footer class="footer light-mode">
    <div class="container-fluid" id="fcontainer-fluid">
      <div class="frow">
        <div class="footer-col">
          <h4>Navigation</h4>
          <ul class="f_ul">
            <li><a href="#">Home</a></li>
            <li><a href="#main-container">Courses</a></li>
            <li><a href="#ment">Mentors</a></li>
            <!-- <a href="#">Contact</a> -->
            <li><a href="#our-services">our-services</a></li>
            <li><a href="Login Form/index.html">Login</a></li>
            <li><a href="Register Form/index.html">Sign Up</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Website Links</h4>
          <ul class="f_ul">
            <li><a href="#" target="_blank">NDA</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Follow us</h4>
          <div class="social-links">

            <a href="https://bit.ly/37AhO1h" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://bit.ly/3qazRBE" target="_blank"><i class="fab  fa-twitter"></i></a>
            <a href="https://bit.ly/3JhLo9M" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://bit.ly/3MTE71T" target="_blank"><i class="fab fa-linkedin-in"></i></a>


          </div>

        </div>

      </div>
    </div>
  </footer>

  <!-- ------------------------Light Mode/ Dark Mode-------------------------- -->


  <!-- -------------------------------------------------------------------------------- -->
  <script src="https://kit.fontawesome.com/ea78901d60.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="{% static 'js/home/script.js' %}"></script>

</body>

</html>

