{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="image/logo.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
    </style>
    <title>Your Dashboard</title>
</head>

<body>
    <div class="container">

        <!-- ------------------------Navbar-------------------------------- -->
        <div class="sidebar">
            <div class="logo">
                <span id="name">
                    <h2>Dashboard</h2>
                </span>
            </div>
            <div class="menu_btn">
                <span class="material-symbols-outlined" id="btn">
                    menu
                </span>
                <span class="material-symbols-outlined" id="btn_close">
                    close
                </span>
            </div>
            <div class="menu_items">
                <ul class="nav_list">

                    <li>
                        <a href="#">
                            <span id="logo_home">
                                <i class="fa-solid fa-house"></i>
                            </span>

                            <span class="links_name">My Profile</span>
                        </a>
                        <span class="tooltip">My Profile</span>
                    </li>
                    <li>
                        <a href="my_corses/index.html">
                            <span><i class="fa-solid fa-book"></i></span>
                            <span class="links_name">My Courses</span>
                        </a>
                        <span class="tooltip">My Courses</span>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" onclick="view()" id="d_eff">
                                <span id="campus_eff"><i class="fa-solid fa-graduation-cap"></i></span>
                                <span class="links_name" id="d_btn">Practice</span>
                                <span class="material-symbols-outlined" id="arrow">
                                    arrow_right
                                </span>
                            </a>
                            <!-- <span class="tooltip">Campus Life</span> -->

                            <div class="dropdown_content" id="d_cont">
                                <a href="#"><span>WAT</span></a>
                                <a href="#"><span>TAT</span></a>
                                <a href="#"><span>PP&DT</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="logout">
                <button type="Login" class="login_btn"
                    onclick="window.location.href='/logout'">Logout</button>
                <span class="material-symbols-outlined" id="login_logo"
                    onclick="window.location.href='/accounts/logout';">
                    logout
                </span>
            </div>
        </div>


        <!-- --------------Home Content---------------- -->

        <div class="my_profile_main">

            <div>
                <img id="previewImage" src="profille.jpg" alt="Profile Image">
            </div>
            <div id="photo">
                <button onclick="uploadImage()" id="pro-btn">Set Profile Picture</button>
                <input type="file" id="imageUpload" accept="image/*" style="display: none;">
            </div>
        </div>
        <hr id="profile-divider">
        <div class="form-container">
            <form class="details">
              <label for="firstName">First Name:</label>
              <input type="text" id="firstName" name="firstName" required><br>
        
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" name="lastName" required><br>
        
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required><br>
        
              <label for="mobileNo">Mobile No:</label>
              <input type="tel" id="mobileNo" name="mobileNo" required><br>
        
              <label for="age">Age:</label>
              <input type="number" id="age" name="age" required><br>
        
              <label for="gender">Gender:</label>
              <select id="gender" name="gender" required>
                <option value="">Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select><br>
        
              <label for="highschoolMarks">Highschool Marks:</label>
              <input type="text" id="highschoolMarks" name="highschoolMarks" required><br>
        
              <label for="intermediateMarks">Intermediate Marks:</label>
              <input type="text" id="intermediateMarks" name="intermediateMarks"><br>
        
              <label for="fieldType">Field Type:</label>
              <select id="fieldType" name="fieldType" required>
                <option value="">Select</option>
                <option value="commissioned">Commissioned</option>
                <option value="nonCommissioned">Non-Commissioned</option>
              </select><br>
        
              <label for="fieldOfInterest">Field of Interest:</label>
              <input type="text" id="fieldOfInterest" name="fieldOfInterest" required><br>
        
              <input type="submit" value="Submit">
            </form>
          </div>




        <!-- ------------------------------------------ -->






    </div>
    <script src="https://kit.fontawesome.com/ac1aec28f7.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>