{% extends 'dashboard/base.html' %}
{% load static %}

{% block page %}
My Courses
{% endblock %}

{% block mylink %}

<link rel="stylesheet" href="{% static 'css/dashboard/my_courses.css' %}">

{% endblock %}

{% block main %}

<div class="main-container">
    <h1>My Courses</h1>
    <div class="test-selector">

        {% for course in courses %}

        <div class="card">
            <div class="card-content">
                <div class="course_img">
                    <img src="{{ course.image.url }}" alt="course">
                </div>
                <div class="btn">
                    <button class="view_course">View Course</button>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <h1>Buy Courses</h1>
    <div class="test-selector">

        {% for left_course in left_courses %}

        <div class="card">
            <div class="card-content">
                <div class="course_img">
                    <img src="{{ left_course.image.url }}" alt="course">
                </div>
                <div class="btn">
                    <a href="{% url 'buy_course' left_course.id %}" style="text-decoration: none;">
                        <button class="view_course" onclick="return confirm('Are you sure you want to Buy This Course?');">Buy Course</button>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% block myscript %}

<script>
    function uploadImage() {
        var input = document.getElementById('imageUpload');
        var previewImage = document.getElementById('previewImage');

        input.click(); // Trigger the file input click event
        input.onchange = function () {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        };
    }
</script>

{% endblock %}

{% endblock %}