{% extends 'dashboard/student/base.html' %}
{% load static %}

{% block page %}
Mock Test
{% endblock %}

{% block mylink %}
<link rel="stylesheet" href="{% static 'css/preparations/mock.css' %}" />
{% endblock %}


{% block main %}

<div class="main-container">
    <div class="test-selector">
      <div class="card">
        <div class="card-content">
          <div class="text">
            <p>Mock Test 1</p>
          </div>
          <div class="btn">
            <button class="start_now">Start Now</button>
          </div>
        </div>
        <div class="card-footer">
          <p>30 Q . 30 M . 15 Min</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="text">
            <p>Mock Test 2</p>
          </div>
          <div class="btn">
            <button class="start_now">Start Now</button>
          </div>
        </div>
        <div class="card-footer">
            <p>30 Q . 30 M . 15 Min</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="text">
            <p>Mock Test 3</p>
          </div>
          <div class="btn">
            <button class="start_now">Start Now</button>
          </div>
        </div>
        <div class="card-footer">
            <p>30 Q . 30 M . 15 Min</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}